* {
  margin: 0;
}

.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app_body {
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1440px) {
    .app_body {
      width: 100vw;
      height: 100vh;
    }
}